@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 16px;
}

main {
  display: flex;
  justify-content: center;
  padding: 30px 100px;
  height: 630px;
}

main .product-image {
  padding: 30px 0;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main .product-image .main-image {
  cursor: pointer;
  width: 80%;
  border-radius: 10px;
  margin-bottom: 10px;
}

main .product-image .product-thumbnail {
  display: flex;
  column-gap: 5px;
}

main .product-image .product-thumbnail img {
  cursor: pointer;
  width: 15%;
  border-radius: 6px;
  padding: 2px;
  position: relative;
}

main .product-details {
  padding: 30px 30px;
  padding-right: 100px !important;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main .product-details h1 {
  font-size: 1.8rem;
  line-height: 2rem;
  padding: 10px 10px;
  margin-bottom: 10px;
}

main .product-details .sneaker {
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.3rem;
  padding: 10px 10px;
  color: #ff7d1a;
}

main .product-details p {
  padding: 10px 10px;
  margin-bottom: 10px;
  font-size: 0.9rem;
}

main .product-details .product-price {
  display: flex;
  padding: 0 0;
  align-items: center;
}

main .product-details .product-price h4 {
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 1.3rem;
}

main .product-details .product-price span {
  background-color: #ffede0;
  padding: 5px 8px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  font-weight: 700;
  color: #ff7d1a;
}

main .product-details strike {
  padding: 0 10px;
  font-weight: 300;
  font-size: 0.8rem;
  color: grey;
  margin-bottom: 2px;
}

main .product-details .add-to-cart {
  padding: 20px 10px;
  display: flex;
}

main .product-details .add-to-cart .product-increase {
  background-color: #f7f8fd;
  display: flex;
  width: 100px;
  height: 40px;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 0 10px;
  border-radius: 6px;
  margin-right: 20px;
}

main .product-details .add-to-cart .product-increase span {
  font-weight: 1rem;
  font-weight: 700;
}

main .product-details .add-to-cart .product-increase img {
  width: 12%;
  cursor: pointer;
}

main .product-details .add-to-cart .add-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff7d1a;
  border-radius: 6px;
  padding: 0 30px;
  column-gap: 15px;
  color: white;
  cursor: pointer;
}

main .product-details .add-to-cart .add-cart .add-cart-img {
  width: 10%;
  color: white;
}

main .product-details .add-to-cart .add-cart h6 {
  color: white;
  font-size: 0.9rem;
}

main .overlay-one {
  background-color: #f7f8fd;
  width: 72px;
  height: 72px;
  margin: 4px;
  position: absolute;
  opacity: 0.6;
  display: none;
}

main .overlay-two {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3px;
  background-color: #f7f8fd;
  width: 73px;
  height: 73px;
  margin-left: 88px;
  position: absolute;
  opacity: 0.6;
  display: none;
}

main .overlay-three {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3px;
  background-color: #f7f8fd;
  width: 73px;
  height: 73px;
  margin-left: 173px;
  position: absolute;
  opacity: 0.6;
  display: none;
}

main .overlay-four {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3px;
  background-color: #f7f8fd;
  width: 73px;
  height: 73px;
  margin-left: 258px;
  position: absolute;
  opacity: 0.6;
  display: none;
}

.lightbox {
  background-color: rgba(1, 1, 1, 0.755);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  width: 100%;
  height: 720px;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.lightbox .close-icon {
  display: flex;
  align-content: flex-end;
  justify-content: center;
  margin-left: 330px;
  cursor: pointer;
  margin-bottom: 10px;
}

.lightbox .lightbox-inner {
  z-index: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  justify-content: center;
}

.lightbox .slide, .lightbox .slides {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.lightbox .hidden-image {
  display: none !important;
}

.lightbox .main-image-carousel, .lightbox .main-image-slide {
  width: 35%;
  border-radius: 10px;
}

.lightbox .prev, .lightbox .next {
  z-index: 100;
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 1rem;
  transition: 0.6s ease;
  border-radius: 50%;
  user-select: none;
  background-color: white;
  padding: 5px;
}

.lightbox .next {
  right: 35%;
}

.lightbox .prev {
  left: 35%;
}

.lightbox .product-thumbnail-carousel {
  display: flex;
  column-gap: 4px;
}

.lightbox .product-thumbnail-carousel img {
  cursor: pointer;
  border-radius: 6px;
  width: 70px;
  height: 70px;
}

.prevMobile, .nextMobile {
  visibility: hidden;
}

@media (max-width: 375px) {
  body {
    height: 100vh;
  }
  header {
    padding: 0px !important;
    height: 50px !important;
  }
  nav {
    width: 100%;
    padding: 0px !important;
    margin: 0px !important;
    height: 50px !important;
    border-bottom: none !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
  nav .mobile-icon {
    display: block;
    display: flex !important;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin-top: 5px;
    cursor: pointer;
  }
  nav .mobile-icon .fa-bars {
    width: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  nav .logo {
    margin-right: auto;
    display: flex;
  }
  nav .logo img {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  nav .menu {
    visibility: hidden;
    margin-left: 0 !important;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh !important;
    height: 100% !important;
    width: 250px;
    background-color: white;
    display: flex !important;
    align-items: flex-start !important;
    transform: translateX(-100%);
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
  }
  nav .menu ul {
    height: 100%;
    width: 100%;
    display: flex !important;
    align-items: flex-start !important;
    justify-content: flex-start !important;
    flex-direction: column;
  }
  nav .menu ul .mobile-close {
    display: block !important;
    width: 100%;
    height: 30px;
    display: flex !important;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
  }
  nav .menu ul .mobile-close i {
    font-size: 20px;
    color: #b6bcc8;
  }
  nav .menu ul li {
    width: 100%;
    margin-bottom: 10px;
    padding: 0 !important;
    height: 40px !important;
    color: rgba(1, 1, 1, 0.755);
    font-weight: 700;
    transition: 0.3s;
  }
  nav .menu.show {
    visibility: visible;
    transform: translateX(0);
    transform: ease-in-out 2s;
  }
  nav .profile .cart-image {
    display: flex !important;
  }
  nav .profile .profile-image {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0px !important;
  }
  nav .profile .profile-image img {
    border: none !important;
    border-radius: 50%;
    width: 40px !important;
    height: 40px !important;
  }
  nav .cart {
    display: flex;
    justify-self: center;
    align-self: center;
    margin-right: 230px;
    margin-top: 10px;
    width: 350px !important;
  }
  main {
    padding: 0px !important;
    display: flex !important;
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: flex-start !important;
    height: 820px;
    margin-top: 0px !important;
  }
  main .product-image {
    padding: 0 !important;
    height: 350px;
    display: flex !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    width: 100%;
    position: relative;
  }
  main .product-image a {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main .product-image .nextMobile {
    right: 0;
    visibility: visible !important;
    display: flex;
  }
  main .product-image .prevMobile {
    visibility: visible !important;
    display: flex;
  }
  main .main-image {
    padding: 0 !important;
    width: 100% !important;
    height: 90%;
    margin: 0 !important;
    border-radius: 0px !important;
  }
  main .product-thumbnail {
    display: none !important;
    pointer-events: none;
    white-space: wrap;
    padding: 0 !important;
  }
  main .product-details {
    padding: 20px !important;
    display: flex !important;
    width: 100% !important;
  }
  main .product-details h1 {
    width: 100% !important;
  }
  main .product-details strike {
    position: absolute;
    right: 0;
    top: 640px;
    margin-top: 20px;
    font-size: 1rem !important;
    margin-right: 20px;
  }
  main .product-details .add-to-cart {
    display: flex !important;
    flex-direction: column !important;
    row-gap: 10px;
    width: 100% !important;
    margin-top: 10px;
  }
  main .product-details .add-to-cart .product-increase {
    width: 100% !important;
    height: 50px !important;
    max-width: 100%;
  }
  main .product-details .add-to-cart .product-increase img {
    width: 5% !important;
  }
  main .product-details .add-to-cart .add-cart {
    margin-top: 10px;
    height: 50px;
    width: 100%;
  }
  .lightbox {
    display: none !important;
  }
}

body {
  height: 100vh;
  position: relative;
}

header {
  width: 100%;
  height: 90px;
  padding: 0 60px;
}

header nav {
  height: 90px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #b6bcc8;
}

header nav .mobile-icon {
  display: none;
}

header .menu {
  margin-right: auto;
  margin-left: 20px;
}

header .menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
  list-style: none;
  padding: 10px 30px;
}

header .menu ul .mobile-close {
  display: none;
}

header .menu ul li {
  height: 90px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 10px;
  font-size: 1.0rem;
  font-size: 400;
}

header .menu ul li:active {
  border-bottom: 4px solid #ff7d1a;
}

header .profile {
  display: flex;
  align-items: center;
}

header .profile .cart-image {
  height: 70px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

header .profile .cart-image img {
  cursor: pointer;
}

header .profile .cart-image .cart.show {
  opacity: 1;
}

header .profile .cart-image .cart {
  padding: 10px 0;
  padding-bottom: 20px;
  z-index: 100;
  background-color: white;
  box-shadow: -2px 15px 45px 5px rgba(79, 79, 79, 0.75);
  -webkit-box-shadow: -2px 15px 45px 5px rgba(79, 79, 79, 0.75);
  -moz-box-shadow: -2px 15px 45px 5px rgba(79, 79, 79, 0.75);
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 60px;
  width: 300px;
  height: 210px;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
}

header .profile .cart-image .cart .card-header {
  padding: 10px 25px;
  height: 20%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #b6bcc8;
}

header .profile .cart-image .cart .card-header h4 {
  font-size: 1rem;
}

header .profile .cart-image .cart .cart-details {
  padding: 0 25px;
  height: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .profile .cart-image .cart .cart-details img {
  width: 20%;
  border-radius: 6px;
}

header .profile .cart-image .cart .cart-details .cart-product-details {
  height: 40%;
}

header .profile .cart-image .cart .cart-details .cart-product-details h6 {
  font-size: 0.9rem;
}

header .profile .cart-image .cart .cart-details .cart-product-details span, header .profile .cart-image .cart .cart-details .cart-product-details .bold-cart {
  font-size: 0.7rem;
}

header .profile .cart-image .cart .cart-details .delete-icon {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

header .profile .cart-image .cart .button {
  height: 25%;
  padding: 0 20px;
}

header .profile .cart-image .cart .button button {
  margin-top: 5px;
  background-color: #ff7d1a;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
}

header .profile .profile-image {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

header .profile .profile-image img {
  border: 2px solid #ff7d1a;
  border-radius: 50%;
  padding: 5px;
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=main.css.map */